$nav-height: 80px;
$nav-padding: 0.5rem calc((100vw - 1200px) / 2);
$nav-z-index: 10;

$nav-bar-top: 22px;
$nav-bar-right: 20px;
$nav-bar-font-size: 2rem;

$logo-font-size: 2rem;

$margin-left: 24px;
$margin-right: $margin-left;
$margin-top: 16px;

$tablet-padding: 5rem;

$max-width: 1200px;
$height: 90vh;
$height-full: 100vh;
$width: 100%;

$line-height-small: 1.2;
$line-height: 1.5;

$button-padding-top-bottom: 12px;
$button-padding-right-left: $margin-left;
$button-border-radius: 4px;
$button-margin-left: 16px;

$cta-button-padding-top-bottom: 14px;
$cta-button-padding-right-left: 32px;
$cta-button-border-radius: 4px;
$cta-button-margin-top: 2rem;

$h1-font-size: 4rem;
$h1-font-size-small: 1.5rem;
$h2-font-size: 3rem;
$font-size: 1rem;
$p-font-size: 1.5rem;
